<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">



    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:application-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>



    <servlet>
        <servlet-name>ws</servlet-name>
        <servlet-class>org.xaxox.web.socket.server.WebSocketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ws</servlet-name>
        <url-pattern>/ws</url-pattern>
    </servlet-mapping>
</web-app>